body
{
    background: #FE2F39;
}
#contenedor
{
    background-color: #FE2F39;
    width: 35%; 
    
    margin: auto;
    margin-top: 15%;
    border: #000000 1px solid; 

}
#datos
{
    
    width: 100%; 
    margin: auto;
    float: left;
    border: #000000 1px solid; 
}
#enviar
{
    
    width: 100%; 
    float: right;
    margin: auto;
}

.env{
    width: 50%; 
    float: right;
    height: 5%;
}
.dat{
    height: 10%;
    width: 100%; 
    float: left;
}
.gope{
    width: 50%; 
    padding-left: 25%;
}